main, header, footer {
  font-size: 10pt;
  margin: 5px;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 8px;
  user-select: none;
}

input:hover {
  background-color: rgba(200, 200, 255, 0.1);
}

button:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: gray;
  font-size: 6pt;
  font-weight: lighter;
}

img {
  height: 110px;
}

.title {
  user-select: none;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
}

.date {
  user-select: none;
  font-size: 7pt;
  font-weight: thin;
  font-family: 'Roboto', sans-serif;
}

.error {
  color: red;
}

.info {
  color: blue;
}

.item {
  border: 20px solid transparent;
}

#results {
  display: flex;
  flex-wrap: wrap;
}

.image {
  position: relative;
}

.text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}