main, header, footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12pt;
  margin: 5px;
}

.fancy-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}

input:hover {
  background-color: rgba(200, 200, 255, 0.1);
}

button:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: gray;
  font-size: 8pt;
  font-weight: lighter;
}

img {
  height: 100px;
}

.title {
  font-size: 12pt;
}

.error {
  color: red;
}

.info {
  color: blue;
}