main, header, footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 8pt;
}

img {
  height: 100px;
}

.title {
  font-size: 12pt;
}

.error {
  color: red;
}

.info {
  color: blue;
}